*{
  margin: 0;
  padding: 0;
}
/* Color Swatches */
:root{
  --dark: #023246;
  --medium: #d4d4ce;
  --light:#f6f6f6;
  --accent: #75BF7A;
  --primary:#287094;
}

body{
  background-color: var(--medium);
}

/* HERO */
.hero{
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  height: 25rem;
}
.r-hero{
  height: 50%;
  justify-content: center;
}
#img-hero{
  background-color: var(--primary);
  height: 8rem;
  width: 8rem;
  border: solid 0.25rem var(--light);
  border-radius: 100%;
}
.r-hero > h2{
  color: var(--accent);
}

/* SECTIONS */
.sections{
  padding: 1.5rem;
}

.about{
  background-color: var(--light);
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--dark);
  text-align: center;
}
article{
  text-align: justify;
}


