*{
  margin: 0;
  padding: 0;
}
/* Color Swatches */
:root{
  --dark: #023246;
  --medium: #d4d4ce;
  --light:#f6f6f6;
  --accent: #75BF7A;
  --primary:#287094;
}

body{
  background-color: var(--medium);
}

/* HERO */
.hero{
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  height: 25rem;
}
.r-hero{
  height: 50%;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 1.5rem;
}
#img-hero{
  background: var(--primary) url("../img/Profile.jpg") no-repeat center;
  background-size: cover;
  height: 10rem;
  width: 10rem;
  border: solid 0.35rem var(--accent);
  border-radius: 100%;
  transition: border-radius 0.7s ease;
}
#img-hero:hover{
  border-radius: 1.5rem;
}
h2{
  margin-bottom: 2rem;
}
.r-hero > h2{
  color: var(--accent);
}

/* SECTIONS */
.sections-wrap{
  padding: 1.5rem;
}

.sections{
  background-color: var(--light);
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  color: var(--dark);
  text-align: center;
  min-height: 20rem;
}
article{
  text-align: justify;
}

/* SKILLS */
.r-skills{
  height: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.logo-skills{
  width: 7rem;
  border-radius: 0.75rem;
  transition: width 0.5s ease, border-radius 0.7s ease;
}

.logo-skills:hover{
  width: 8rem;
  border-radius: 0%;
}

/* FOOTER */

.footer{
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  height: 15rem;
}
.r-footer{
  padding: 1.5rem;
  text-align: start;
  height: 100%;
  justify-content: center;
  align-content: center;
}
