:root{
  --dark: #023246;
  --medium: #e1e2e1;
  --light:#f5f5f6;
  --accent: #80e27e;
  --primary:#287094;

  /* --dark: #102027 ;
  --medium: #37474f;
  --light:#f5f5f6;
  --accent: #9ccc64;
  --primary:#01579b; */

  --html: #ffeae8;
  --html-ac:#ff5012;
  --css:#def2fe;
  --css-ac:#0089e9;
  --js:#fffde7;
  --js-ac:#ffd90a;
  --node:#eff8e9;
  --node-ac:#5bb433;
}
.html{
  --background:var(--html);
  --border:var(--html-ac);
}
.css{
  --background:var(--css);
  --border:var(--css-ac);
}
.js{
  --background:var(--js);
  --border:var(--js-ac);
}
.nodejs{
  --background:var(--node);
  --border:var(--node-ac);
}
