:root{
  --dark: #023246;
  --medium: #e1e2e1;
  --light:#f5f5f6;
  --accent: #80e27e;
  --primary:#287094;

  /* --dark: #102027 ;
  --medium: #37474f;
  --light:#f5f5f6;
  --accent: #9ccc64;
  --primary:#01579b; */

  --html: #ffccbc;
  --html-ac:#f4511e;
  --css:#bbdefb;
  --css-ac:#1e88e5;
  --js:#ffecb3;
  --js-ac:#fbc02d;
  --node:#dcedc8;
  --node-ac:#7cb342;
  --boots:#d1c4e9;
  --boots-ac:#5e35b1;

}
.html{
  --background:var(--html);
  --border:var(--html-ac);
}
.css{
  --background:var(--css);
  --border:var(--css-ac);
}
.js{
  --background:var(--js);
  --border:var(--js-ac);
}
.nodejs{
  --background:var(--node);
  --border:var(--node-ac);
}
.bootstrap{
  --background:var(--boots);
  --border:var(--boots-ac);
}
