*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--medium);
}

/* HERO */
.hero{
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  height: 25rem;
}
.r-hero{
  height: 50%;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 1.5rem;
}
#img-hero{
  background: var(--primary) url("../img/Profile.jpg") no-repeat center;
  background-size: cover;
  height: 10rem;
  width: 10rem;
  border: solid 0.35rem var(--accent);
  border-radius: 100%;
  transition: border-radius 0.7s ease;
}
#img-hero:hover{
  border-radius: 1.5rem;
}
h2{
  margin-bottom: 2rem;
}
.r-hero > h2{
  color: var(--accent);
}

/* SECTIONS */
.sections-wrap{
  padding: 1.5rem;
}

.sections{
  background-color: var(--light);
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  color: var(--dark);
  text-align: center;
}
article{
  text-align: justify;
}

/* SKILLS */
.r-skills{
  align-items: center;
  margin: 0;
  height: 5rem;
}
.c-skills{
  height: 4rem;
  padding: 1rem;
  border-radius: 0rem;
  transition: background-color 0.3s ease-out, border-radius 0.7s ease;
}
.logo-skills{
  height: 4rem;
  width: auto;
  padding: 0;
  margin-right: 0.5rem;
  border: solid 1px var(--border);
  background-color: var(--background);
  border-radius: 0.75rem;
  transition: height 0.5s ease, border-radius 0.7s ease;
}
.skill-bar{
  height: 2rem;
  padding: 0;
}
.skill-lvl{
  margin: 0.25rem;
  padding: 0;
  border: solid 1px var(--border);
  border-radius: 0.3525rem;
}
.bg{
  background-color: var(--border);
}

.r-skills:hover > .logo-skills{
  height: 5rem;
  border-radius: 0%;
}
.r-skills:hover > .c-skills{
  border-radius: 0.75rem;
  background-color: var(--background);
}

/* FOOTER */

.footer{
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  height: 15rem;
}
.r-footer{
  padding: 1.5rem;
  text-align: start;
  height: 100%;
  justify-content: center;
  align-content: center;
}
